{% extends "base.html" %}

{% block content %}

<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li {% if not sub %}class="active"{% endif %}>
      <a href="{{ url_for('about', lang_code=g.current_lang) }}">{{ _("About") }}</a>
    </li>
    <li {% if sub == 'advocacy' %}class="active"{% endif %}>
      <a href="{{ url_for('about_route', lang_code=g.current_lang, sub='advocacy') }}">{{ _("Advocacy") }}</a>
    </li>
    <li {% if sub == 'news' %}class="active"{% endif %}>
      <a href="{{ url_for('about_route', lang_code=g.current_lang, sub='news') }}">{{ _("News") }}</a>
    </li>
    <li {% if sub == 'media' %}class="active"{% endif %}>
      <a href="{{ url_for('about_route', lang_code=g.current_lang, sub='media') }}">{{ _("Media") }}</a>
    </li>
    <li {% if sub == 'donations' %}class="active"{% endif %}>
      <a href="{{ url_for('about_route', lang_code=g.current_lang, sub='donations') }}">{{ _("Donations") }}</a>
    </li>
  </ul>
</div>

<div class="col-md-9">
  <div class="row">
    {% block innercontent %}
    {% endblock %}
  </div>
</div>

{% endblock %}
