{% extends "base.html" %}

{% block content %}
<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('about_route', sub='advocacy') }}">Advocacy</a></li>
    <li><a href="{{ url_for('about_route', sub='news') }}">News</a></li>
    <li><a href="{{ url_for('about_route', sub='media') }}">Media</a></li>
    <li><a href="{{ url_for('about_route', sub='donations') }}">Donations</a></li>
    <li><a href="{{ url_for('about_route', sub='news') }}">News</a></li>
  </ul>
</div>
<div class="col-md-9">
  <div class="row">
  	{% block innercontent %}
  	{% endblock %}
  </div>
</div>
{% endblock %}
