{% extends "base.html" %}

{% block content %}
<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="{{ url_for('community') }}">community</a></li>
    <li><a href="{{ url_for('community_route', sub='contributing') }}">contributing</a></li>
    <li><a href="{{ url_for('community_route', sub='release-engineering') }}">release engineering</a></li>
    <li><a href="{{ url_for('community_route', sub='platforms') }}">platforms</a></li>
    <li><a href="{{ url_for('community_route', sub='events') }}">events</a></li>
  </ul>
</div>
<div class="col-md-9">
  <div class="row">
  	{% block innercontent %}
  	{% endblock %}
  </div>
</div>
{% endblock %}
